.git
.gitignore
.env
.env.*
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.DS_Store
*.log
*.swp
*.swo
*~
.phpunit.result.cache
.php_cs.cache
coverage
.phpstan
.php-cs-fixer.cache
tests
.phpunit.cache

